*{
    margin: 0px;
    padding: 0px;
}
#box{
    height: 59vh;
    width: 35vw;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 20%;
    left: 33%;
    background-color: rgb(0, 225, 0,0.5);
    border-radius: 7px;
}
.inbox{
    height: 33.4%;
    width: 33.3%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button{
    background-color: rgb(0, 225, 0,0.9);
    height: 94%;
    width: 94%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    font-size: 550%;
    font-weight: 900;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.button:hover{
    height: 98%;
    width: 98%;
}
.button:active{
    height: 91%;
    width: 91%;
}